<aside
  id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full sm:translate-x-0 bg-gray-900 border-gray-700"
>
  <div class="h-full px-3 pb-4 overflow-y-auto">
    <ul class="space-y-2 font-medium">
      @for (item of items; track $index) {
      <li>
        <a
          [routerLink]="item.route"
          routerLinkActive="text-lime-400"
          class="flex items-center p-2 transition duration-200"
        >
          <span class="flex-1 ms-3 whitespace-nowrap">{{ item.label }}</span>

          @if (item.badge) {
          <span
            class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium rounded-full"
            [ngClass]="item.badgeColor"
          >
            {{ item.badge }}
          </span>
          }
        </a>
      </li>
      } @if (authService.authStatus() === 'authenticated') {

      <li>
        <button
          type="button"
          class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
          data-collapse-toggle="dropdown-example"
        >

          <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Administrador</span>

        </button>
        <ul id="dropdown-example" class="py-2 space-y-2">
          <li>
            <a
              [routerLink]="['energy']"
              routerLinkActive="text-lime-400"
              class="flex items-center w-full p-2 pl-11 grou"
            >
              Energía
            </a>
          </li>
          <li>
            <a
              [routerLink]="['energy-type']"
              routerLinkActive="text-lime-400"
              class="flex items-center w-full p-2 pl-11 grou"
            >
              Typo de energía
            </a>
          </li>
          <li>
            <a
              [routerLink]="['person']"
              routerLinkActive="text-lime-400"
              class="flex items-center w-full p-2 pl-11 grou"
            >
              Personas
            </a>
          </li>
          <li>
            <a
              [routerLink]="['document-type']"
              routerLinkActive="text-lime-400"
              class="flex items-center w-full p-2 pl-11 grou"
            >
              Tipos de documentos
            </a>
          </li>
        </ul>
      </li>

      }
    </ul>
  </div>
</aside>
