<section
  class="relative bg-[url('https://raw.githubusercontent.com/freelanceAP/GreenCycle-Front/refs/heads/main/public/assets/img/bg-login.webp')] bg-center bg-no-repeat bg-cover bg-gray-700 bg-blend-multiply min-h-screen"
>

  <div

    class="flex flex-col justify-center items-center text-center min-h-screen px-4 mx-auto max-w-screen-7xl py-24 lg:py-44"
  >
    <img src="/icon/isotipo-verde.svg" class="h-28" alt="Logo" />
    <h1
      class="mb-4 text-5xl font-extrabold tracking-tight leading-none text-white md:text-6xl lg:text-8xl"
    >
      Bienvenido <br /><span
        class="text-transparent bg-clip-text bg-linear-to-br to-lime-400 from-green-400"
        >EnerTrack</span
      >
    </h1>
    <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">
      energía renovable, datos globales, impacto real.
    </p>
    <div
      class="flex flex-col space-y-4 sm:flex-row justify-center items-center sm:justify-center sm:space-y-0"
    >
      <a routerLink="/panel"
        href="#"
        class="inline-flex justify-center w-56 lg:w-48 items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-linear-to-br from-lime-500 to-green-500 loading-link"
      >
        Ir a dashboard
      </a>
      <a
        href="#services"
        class="inline-flex justify-center w-56 lg:w-48 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-slate-200 rounded-lg border-2 border-slate-200 hover:bg-slate-200 hover:text-indigo-950"
      >
        Learn more
      </a>

    </div>
  </div>
</section>
